<ion-view title="订单">
    <ion-content class="has-header">

      <div ng-repeat="order in orders">
        <div class="item item-divider item-icon-right">
          订单号: {{order[10]}}
          <!--<i class="icon ion-arrow-right-c" ng-click="viewOrder(order)" ></i>-->
        </div>
        <div class="item " >
          <table width="100%" class="padding table rwd-table">
            <tr class="padding">
              <th width="30%">品名</th>
              <th width="30%">套餐</th>
              <th>价格</th>
            </tr>
            <tr>
              <td>{{order[3]}}</td>
              <td>{{order[12]}}</td>
              <td>{{order[4]}}</td>
            </tr>

            <tr>
              <th align="left" colspan="3">状态:</th>
            </tr>
            <tr>
              <td colspan="3">
                {{order[8]|status}}
              </td>
            </tr>

            <tr>
              <th align="left" colspan="3">支付方式:</th>
            </tr>
            <tr>
              <td colspan="3">
                {{order[9]}}
              </td>
            </tr>
            <tr>
              <th align="left" colspan="3">送货地址:</th>
            </tr>
            <tr>
              <td colspan="3">
                {{order[6]}} - {{order[7]}} - {{order[5]}}
              </td>
            </tr>
          </table>
          <button ng-show="order[8]!='cancel'" class="button button-full button-royal" ng-click="cancelOrder(order)">
            取消
          </button>
        </div>
      </div>

    </ion-content>
</ion-view>
