<ion-view title="登录">
    <ion-content>
        <div ng-controller="LoginCtrl">
            <form ng-action="/site/wp-admin/admin-ajax.php?action=ajaxlogin" name="loginForm" method="post"
                  ng-submit="login()">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">用户名</span>
                        <input name="username" type="text" ng-model="username" placeholder="用户名" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">密码</span>
                        <input type="password" name="password" ng-model="password" placeholder="密码" required>
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive activated">登录</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>

