<ion-view title="重置密码">
  <ion-content class="has-header padding">
    <form ng-action="/site/wp-admin/admin-ajax.php?action=ajaxresetpassword" name="resetPasswordForm" method="post"
          ng-submit="resetPassword()">
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">新密码</span>
          <input type="password" name="new_password" ng-model="user.password" placeholder="请输入新的密码" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">再次输入</span>
          <input type="password" name="confirm_password" ng-model="user.confirm_password" placeholder="请再次确认密码"
                 required data-password-verify="user.password">
        </label>

        <div ng-show="resetPasswordForm.confirm_password.$error.passwordVerify">
          确认密码不一致.
        </div>

      </div>
      <div class="padding">
        <button class="button button-block button-positive activated">重置</button>
      </div>
    </form>
  </ion-content>
</ion-view>
